.tooltip-container,
.trigger {
  position: relative;
}

.tooltip {
  font-weight: normal;
  background-color: black;
  color: white;
  position: absolute;
  top: 1.5rem;
  left: 0.75rem;
  z-index: 10;
  padding: 0.15rem;
  border-radius: 3px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.26);
  opacity: 0;
}


.icon {
  background: black;
  color: white;
  padding: 0.15rem 0.5rem;
  text-align: center;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
}

.tooltip.show {
  opacity: 1;
}